<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>506004246329-4dbcn5ueuir428r33jmaeap9l5gs11p8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.506004246329-4dbcn5ueuir428r33jmaeap9l5gs11p8</string>
	<key>API_KEY</key>
	<string>AIzaSyAnJHxSPK0t6o4nfi1cFmFDEnsnciRWKNA</string>
	<key>GCM_SENDER_ID</key>
	<string>506004246329</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yoanpupo.IntelliPlus</string>
	<key>PROJECT_ID</key>
	<string>intelliplus-d0ab3</string>
	<key>STORAGE_BUCKET</key>
	<string>intelliplus-d0ab3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:506004246329:ios:571debe6717d02618b22e8</string>
</dict>
</plist>